@charset "utf-8";
/* CSS Document */



.body{
}
	
.main{
	border:#FFF solid 1px;
	width:1200px;
	margin-top:0;
	margin-bottom:0;
	margin-left:auto;
	margin-right:auto;
}
#header {
	border:#933 solid 1px;
	width:1200px;
	height:200px;
	border-radius:5px 5px 5px 5px;
	margin-top:5px;
	}

.menu {
		border:#933 solid 1px;
	width:1200px;
	height:40px;
	margin-top:5px;
	border-radius:5px 5px 5px 5px;
	background-color:#fff;
	direction:rtl;
	}

.contect {
	
		border:#933 solid 1px;
	width:1200px;
	margin-top:5px;
	border-radius:5px 5px 5px 5px;
	background-color:#fff;
	height:700px;
		}
	.text{
		width:600px;
		border:0px solid #fc0;
		border-radius:5px 5px 5px 5px;
		direction:ltr;
margin-top:10px;
	}
	
	.imgdiv{
		float:right;
		width:200px;
		border:0px solid #fc0;
		border-radius:5px 5px 5px 5px;
		direction:ltr;
		font-size:25px;

	}
	.imgdiv2{
		float:right;
		width:350px;
		border:0px solid #fc0;
		border-radius:5px 5px 5px 5px;
		direction:ltr;
	}

	.title{
		padding:5px 5px 5px 5px;
		color:#f60;
		font-weight:bold;
		font-size:35px;
		text-shadow:#000 1px 0px;
		
		
	}
	.details{
		padding:3px 3px 3px 3px;
		font-size:25px;

	}
	.img2{
		height:110px;
		width:200px;
		border-radius:5px 5px 5px 5px;
	}
	
.details a{
	color:#09f;
	text-decoration:none;
			float:left;

}
.details a:hover{
	color:#f60;
	text-decoration:underline;